<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/chat" onsubmit="document.getElementById('username').value=localStorage.getItem('username')" method="post" id="chat">
        <input type="text" placeholder="message" name="message" id="message">
        <input type="hidden" name="username">
        <input type="submit" value="submit">
    </form>
</body>
</html>